@charset "utf-8";
@import "./variable.scss";
@mixin font_color($color) {
  color: $color;
  [data-theme="theme1"] & {
    color: $font-color-theme1;
  }
  [data-theme="theme2"] & {
    color: $font-color-theme2;
  }
  [data-theme="theme3"] & {
    color: $font-color-theme3;
  }
}

@mixin bg_color($color) {
  background-color: $color;
  [data-theme="theme1"] & {
    background-color: $background-color-theme1;
  }
  [data-theme="theme2"] & {
    background-color: $background-color-theme2;
  }
  [data-theme="theme3"] & {
    background-color: $background-color-theme3;
  }
}
