@charset "utf-8";
@import "./variable.scss";
@mixin font_color($color) {
  color: $color;
  [data-theme="theme1"] & {
    color: $font-color-theme1;
  }
  [data-theme="theme2"] & {
    color: $font-color-theme2;
  }
  [data-theme="theme3"] & {
    color: $font-color-theme3;
  }
}

@mixin bg_color($color) {
  background-color: $color;
  [data-theme="theme1"] & {
    background-color: $background-color-theme1;
  }
  [data-theme="theme2"] & {
    background-color: $background-color-theme2;
  }
  [data-theme="theme3"] & {
    background-color: $background-color-theme3;
  }
}

@mixin bg($color) {
  background: $color;
  [data-theme="theme1"] & {
    background: $background-color-theme1;
  }
  [data-theme="theme2"] & {
    background: $background-color-theme2;
  }
  [data-theme="theme3"] & {
    background: $background-color-theme3;
  }
}

.el-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  @include bg($background-color-theme);
  border: 1px solid #dcdfe6;
  @include font_color($font-color-theme);
  -webkit-appearance: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}
